.magisk {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(17px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#login {
    /* 居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 2em;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 20em;
    max-width: 100dvw;
}

#login-form {
    display: flex;
    flex-wrap: wrap;
}

#login-form input {
    border: var(--card-border);
    outline: solid 1px var(--card-border-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-size: 16px;
    background-color: var(--card-background-color)
}