.magisk {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(17px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.magisk.open {
    display: block;
}

.magisk.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    /* 居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 2em;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 20em;
    max-width: 100dvw;
}

#login-form {
    display: flex;
    flex-wrap: wrap;
}

#login-form h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--card-title-color);
}

#login-form input {
    border: var(--input-border);
    /* outline: solid 1px var(--theme-color-yellow); */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-size: 16px;
    background-color: var(--card-background-color)
}

#login-form input[type="submit"] {
    background-color: var(--theme-color);
    border: none;
    color: white;
    cursor: pointer;
}