:root {
    --card-border: 1px solid rgba(0, 0, 0, 0.12);
    --input-border: 1px solid var(--theme-color-yellow);
    --card-border-bottom: 7px;
    --card-border-radius: 7px;
    --text-color: #000;
    --text-color-light: #fff;
    --theme-color: #5CB3DC;
    --theme-color-red: #EF6F48;
    --theme-color-green: #7BA23F;
    --theme-color-blue: #5CB3DC;
    --theme-color-yellow: #F6DEAD;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    background-color: #f4f4f4;
}

.left-menu {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 14em;
    flex-direction: column;
    height: 100%;
    border-right: var(--card-border);
    padding: 0 0.5em;
}

.left-menu .left-menu-title {
    text-align: center;
}

.left-menu .bottom {
    margin-top: auto;
}

.left-menu ul {
    padding: 0;
}

.left-menu ul li {
    list-style: none;
    margin: 0.5em;
    margin-top: 0;
    /* padding: 0.5em; */
    background-color: #fff;
    border-radius: var(--card-border-bottom);
    border: var(--card-border);
}

.left-menu ul li a {
    text-decoration: none;
    color: #333;
    padding : 0.5em;
    display: block;
}

.main {
    flex: 1;
}

.loading-div {
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-div .loading-img {
    max-width: 2em;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: var(--card-border-radius)
}

.loading-div .loading .loading-text {
    margin-top: 1em;
}

.loading-div .loading {
    text-align: center;
    color: gray;
    background-image: url("/static/img/loading.svg");
    background-color: rgba(0, 0, 0, 0.12);
    padding: 1em;
    aspect-ratio: 1 / 1;
    height: 3em;
}

.loading-div .loading .loading-text {
    margin-top: 1em;
}

.loading-div .loading .loading-text span {
    color: var(--theme-color);
}

.loading-div .loading .loading-text span.loading-text-loading {
    color: var(--theme-color-red);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
    height: 3em;
}